{# @param propertiesFieldConfig array The list of configured properties #}
{# @param properties array the property values as stored in the database #}
{# @param element Element The currently edited element #}
{# @param field Field The field type #}
{# @param settings Settings The plugin settings #}
{# @param defaultPropertyTypes The built-in property types config #}


{# Used CSS classes are stolen from Craft's table field #}
{# TODO: Use own classes instead of styles #}

{% import '_includes/forms.twig' as forms %}

{% set color = field.color %}
{% if not color or color == '__blank__' %}
    {% set color = 'gray' %}
{% endif %}

{% namespace field.handle %}
    <table class="editable fullwidth properties-field">

        <tbody>

        {# Show a custom header? #}
        {% if field.icon or field.heading or field.heading2 %}
            <tr>
                <td colspan="2" class="singleline-cell textual"
                    style="background-color: var(--{{ color }}-100); padding: 8px 8px;">
                    <div class="card-titlebar">
                        <div class="flex flex-nowrap flex-gap-s">
                            {% if field.icon %}
                                <div class="cp-icon small">
                                    {{ svg("@appicons/#{field.icon}.svg") }}
                                </div>
                            {% endif %}
                            {% if field.heading %}
                                <div class="card-titlebar-label">
                                    <strong>{{ field.heading|t }}</strong>
                                </div>
                            {% endif %}
                            {% if field.heading2 %}
                                {% if field.heading %}
                                    -
                                {% endif %}
                                {{ field.heading2|t }}
                            {% endif %}
                        </div>
                    </div>

                </td>
            </tr>
        {% endif %}


        {% for propertyConfig in propertiesFieldConfig %}
            {% if propertyConfig.type == 'groupHeader' %}
                <tr>
                    <th colspan="2" class="group-header">
                        {{ propertyConfig.name }}
                    </th>
                </tr>
            {% else %}
                <tr>
                    {# The property label #}
                    <th class="heading-cell thin"
                        style="background-color: var(--{{ color }}-050); text-align: left; padding: 7px;">
                        {{ propertyConfig.name|t }}

                        {# Instructions #}
                        {% if propertyConfig.instructions ?? null %}
                            <span class="info">
                            {{ propertyConfig.instructions|t }}
                        </span>
                        {% endif %}

                        {# Required? #}
                        {% if propertyConfig.required ?? false %}
                            <span class="required"></span>
                        {% endif %}
                    </th>

                    {# Property inputs using configured template #}
                    <td class="singleline-cell textual"
                        {% if field.enableMissingMarkers %}
                            style="border-left:4px solid {{ properties[propertyConfig.handle] is not defined ? 'var(--red-700)' : 'transparent' }}"
                        {% endif %}
                    >
                        {% set template = settings.extraPropertyTypes[propertyConfig.type].template ?? defaultPropertyTypes[propertyConfig.type].template %}

                        {{ craft.app.view.renderTemplate(template, {
                            propertyConfig,
                            value: properties[propertyConfig.handle] ?? null,
                            settings,
                            element
                        }, 'cp')|raw }}

                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% if field.tip %}
        <div id="tip" class="notice has-icon"><span class="icon" aria-hidden="true"></span><span
                    class="visually-hidden">Tip: </span><span>{{ field.tip|md|purify }}</span></div>
    {% endif %}

    {% if field.warning %}
        <div id="warning" class="warning has-icon"><span class="icon" aria-hidden="true"></span><span
                    class="visually-hidden">Warning: </span><span>{{ field.warning|md|purify }}</span>
        </div>
    {% endif %}

{% endnamespace %}

{# TODO: Namespace classes #}
{% css %}
.text-border {
    border: 1px solid gray !important;
}

.text-margin {
    margin-left: 8px;
}

.group-header {
    font-weight: 700 !important;

    background-color: var(--{{ color }}-100) !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 0;
}
{% endcss %}